.main-div {
  /* margin-top: 10px; */
  height: 90vh;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.app-box {
  width: 15%;
  height: 30vh;
  margin: 20px 50px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.p-img {
  width: 100%;
}
